<!-- Modal -->
  <div class="modal fade" id="modalAdd" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Asociar empleado con puesto</h3>
        </div>
        <div class="modal-body">
		          <div ng-include="'views/directorio/puestos/form_addMiembroVacante.html'"></div>
        
      </div>
      
    </div>
  </div>
  
</div>